




<!DOCTYPE html>
<html>
<body>



<iframe src="http://report.nazrif.com/jasperserver/flow.html?_flowId=viewReportFlow&j_username=report_viewer&j_password=report_viewer&viewAsDashboardFrame=false&reportUnit=/reports/dicche_receipt&output=pdf&parameter1=1000&parameter2=1002&parameter3="></iframe>

<script>
setTimeout(function(){
   window.location.reload(1);
}, 5000);
</script>
</body>
</html>